<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 将namespace的值设置为DAO类对应的路径 -->
<mapper namespace="com.dao.UserDao">

    <!--使用自定义结果集类型-->
    <resultMap id="UserList" type="com.pojo.UserInfo">
        <id property="ID" column="ID" />
        <result property="userID" column="userID"/>
        <result property="email" column="email"/>
        <result property="password" column="password" />
        <result property="isOnline" column="isOnline"/>
        <result property="loginTime" column="loginTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>


    <select id="SelectUser" resultMap="UserList" parameterType="com.pojo.UserInfo">
        SELECT ID,userID,email,password,isOnline,loginTime,isDelete FROM user_info
        <where>
            <if test="ID != null and ID != ''">
                and ID = #{ID}
            </if>
            <if test="userID != null and userID != ''">
                and userID like concat('%',#{userID},'%')
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="password != null and password != ''" >
                and password = #{password}
            </if>
            <if test="isOnline != null and isOnline != ''" >
                and isOnline = #{isOnline}
            </if>
            <if test="loginTime != null and loginTime != ''" >
                and loginTime = #{loginTime}
            </if>
            <if test="isDelete != null and isDelete != ''">
                and isDelete = #{isDelete}
            </if>
        </where>
    </select>


    <update id="UpdateUser" parameterType="com.pojo.UserInfo">
        update user_info
        <set>
            <if test="userID != null and userID != ''">userID = #{userID},</if>
            <if test="email != null and email != ''">email = #{email}</if>
            <if test="password != null and password != ''" >password = #{password}</if>
            <if test="isOnline != null and isOnline != ''" >isOnline = #{isOnline},</if>
            <if test="loginTime != null and loginTime != ''" >loginTime = now()</if>
        </set>
        where ID = #{ID};
    </update>


    <insert id="InsertUser" parameterType="com.pojo.UserInfo" useGeneratedKeys="true" keyProperty="ID">
        insert into user_info (userID,email,password,isOnline,loginTime,isDelete) values(#{userID},#{email},#{password},'0',NOW(),'0');
    </insert>

    <update id="DeleteUser"  parameterType="com.pojo.UserInfo">
        update user_info set isDelete = '1' where ID = #{ID};
    </update>



</mapper>